<div class="sidebar" [ngClass]="{open: isOpen}">
    <div class="sidebar-details">
        <i id="back-sidebar" class="fas fa-arrow-left" (click)="close()"></i>
        <div class="profile-pic"></div>
        <div class="text-wrapper">
            <h5 class="m-0">Yojhan Rodriguez</h5>
            <p class="m-0">email@gmail.com</p>
        </div>
    </div>
    <ul class="sidebar-options">
        <li>Home</li>
        <li>Add city</li>
        <li>Log out</li>
    </ul>
    <a routerLink="/" (click)="close()">Home</a>
    <a routerLink="/details/bogota" (click)="close()">Details</a>
</div>

<div class="overlay" [ngClass]="{open: isOpen}" (click)="close()">
</div>