<div class="sidebar" [ngClass]="{open: isOpen}">
    <div class="sidebar-details">
        <i id="back-sidebar" class="fas fa-arrow-left" (click)="close()"></i>
        <div class="profile-pic"></div>
        <div class="text-wrapper">
            <h5 class="m-0">{{user.name}} {{user.lastname}}</h5>
            <p class="m-0">{{user.email}}</p>
        </div>
    </div>
    <ul class="sidebar-options">
        <li (click)="navigateToHome()">Home</li>
        <li (click)="emitOpenAddCityModal()">Add city</li>
        <li>Log out</li>
    </ul>
</div>

<div class="overlay" [ngClass]="{open: isOpen}" (click)="close()">
</div>