<div class="details-container">
    <div class="details-circle-bg" [ngClass] = "{'animation-circle': canStartAnimation}"></div>
    <section class="details-card" [ngClass] = "{'animation-scale-up': canStartAnimation}">
        <div class="details-card-header" [ngStyle] = "addBackground()">
            <div class="details-summary">
                <h1>{{city.main.temp}}°</h1>
                <app-weather-icon [state] = "city.icon"></app-weather-icon>
                <h3>{{city.desc}}</h3>
                <div class="humidity-wind">
                    <div class="humidity">
                        <p>Humidity</p>
                        <p>{{city.main.humidity}}%</p>
                    </div>
                    <div class="wind">
                        <p>Wind</p>
                        <p>{{city.main.windspeed}}m/s</p>
                    </div>
                </div>
            </div>
            <div><h2 class="details-city-name">{{city.name}}</h2></div>
        </div>
    </section>
</div>

<ngx-spinner bdColor="rgb(28, 27, 29, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
</ngx-spinner>