<div class="cities-container">
        <button class="btn-addcity"(click)="modalAddCity.open()">Add City</button>
        <div class="cities-wrapper">
                <app-city-card class="item-city" *ngFor="let city of cities" [city]="city"></app-city-card>
                <i class="hidden-item" aria-hidden="true"></i>
                <i class="hidden-item" aria-hidden="true"></i>
                <i class="hidden-item" aria-hidden="true"></i>
        </div>
</div>


<app-add-city #modalAddCity></app-add-city>