@import "src/content/sass/custom-variables"
@import "src/content/sass/custom-functions"

.cities-container
    width: 100%
    display: flex
    flex-flow: row wrap
    overflow: hidden
    background: linear-gradient(to bottom,#372865,#000)
    @include min-height-viewport

