<div class="cities-container">
        <button class="btn-addcity" (click)="modalAddCity.open()">Add City +</button>
        <div class="cities-wrapper">
                <app-city-card class="item-city" *ngFor="let city of cities" [city]="city"></app-city-card>
                <i class="hidden-item" aria-hidden="true"></i>
                <i class="hidden-item" aria-hidden="true"></i>
                <i class="hidden-item" aria-hidden="true"></i>
        </div>
        <!-- Add imgs to cache -->
        <img *ngFor="let city of cities" style="display: none" [attr.src] ="city.imgUrl ? city.imgUrl : null">
</div>

<app-add-city #modalAddCity></app-add-city>

<ngx-spinner bdColor="rgb(28, 27, 29, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
</ngx-spinner>