@import "src/content/sass/custom-variables"
@import "src/content/sass/custom-functions"

.cities-container
    background: linear-gradient(to bottom,#372865,#000)
    display: flex
    flex-flow: column nowrap
    align-items: center
    
    .btn-addcity
        margin-top: 0.5rem

    .cities-wrapper
        width: 100%
        display: flex
        justify-content: center
        flex-flow: row wrap
        overflow: hidden
        padding-top: 0.5rem
        // background: linear-gradient(to bottom,#372865,#000)
        @include min-height-viewport
        @include md-screen
            padding-top: 0

i.hidden-item
    width: 45vw
    padding: 0.5rem
    margin: 0.5rem
    @include sm-screen
        width: 30vw
        padding: 1rem
        margin: 1rem
    @include md-screen
        width: 25vw
        padding: 2rem
        margin: 2rem



