<header class="header">
    <div class="item left">
        <i class="fas fa-bars" id="burguer-menu" (click)="openSidebarMenu()"></i>
        <svg class="logo-icon" viewBox="150.3 22.2 213.7 42.8">
            <path fill="#00ff9b" d="M150.3 65V22.2L193 65z" data-name="Path 1"></path>
            <path fill="#003eff" d="M193.1 65h-42.8L193 22.2z" data-name="Path 2"></path>
            <text fill="#ffffff"
                font-family="SegoeUI-Semibold,Segoe UI" font-size="30" font-weight="600" letter-spacing=".1em"
                transform="translate(220 56)">
                <tspan x="0" y="0">Minimus</tspan>
            </text>
        </svg>
    </div>
    <h3 class="item date">Hoy</h3>
    <div class="item right">
        <p>placeholder</p>
    </div>
</header>