<div class="city-card">
    <h4 class="city-title">Bogotá</h4>
    <h5 class="city-temperature">19°</h5>
    <app-weather-icon></app-weather-icon>
    <h6 class="weather-condition">Nubes</h6>
    <div class="min-max-container">
        <div class="min-max-item">
            <i class="fas fa-angle-down"></i>
            <p class="min-max-temp">14°</p>
            <p>min</p>
        </div>
        <div class="min-max-item">
            <i class="fas fa-angle-up"></i>
            <p class="min-max-temp">14°</p>
            <p>m&aacute;x</p>
        </div>
    </div>
</div>