// .modal-body
//     border: none
//     background-color: #242526
//     border-radius: 8px

.search-wrapper
    position: relative
    background-color: #242526

i#back-addcity
    margin-left: 1rem
    font-size: 1.2rem
    cursor: pointer
    transition: transform 0.5s
    &:hover
        transform: scale(1.3)

.search-input
    background-color: #3a3b3c
    border-radius: 50px
    color:  #E4E6EB
    outline: none
    border: none
    height: 40px
    text-indent: 20px
    width: 90%

.search-panel
    min-height: 50px
    max-height: 75vh
    background-color: #242526
    margin-top: 0.5rem

.search-item
    width: 100%
    height: 40px
    text-decoration: none
    display: flex
    align-items: center
    color: #8a8d91
    padding: 1px 12px
    position: relative
    border-radius: 8px
    cursor: pointer
    &:hover
        background-color: #3a3b3c
        color:  #E4E6EB
    p
        margin-bottom: 0

.loading-circle
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: 0

.animate-message
    animation: 1s ease-out slideToRight

@keyframes slideToRight
    0%
        opacity: 0
        transform: translateX(-70%)
    
    100%
        opacity: 1
        transform: translateX(0)
    
