.login
    margin: 50px auto 20px
    padding: 20px
    width: 310px
    background-color: #FFF
    border: 1px solid #d8dee2
    border-radius: 5px
    
    display: flex
    align-items: center
    flex-flow: column


.login form
    width: 100%


.login input
    background-color: #FFF
    border: 1px solid #d8dee2
    padding: 0.75rem 1rem


.login button
    width: 100%


.login-footer
    display: flex
    margin: 0 auto 20px
    align-items: center
    justify-content: center
    width: 310px
    padding: 20px 0


.login-footer p 
    margin: 0


.login-example
    margin: 0 auto
    width: fit-content


.alert-dismissible span
    cursor: pointer
