<app-header (openSidebar)="toggleSidebar($event)"></app-header>
<main class="main-container">
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
   <p>aaaaaaaaaaaa</p>
</main>
<app-sidebar [isOpen]="sidebarIsOpen" (closeSidebar)="toggleSidebar($event)"></app-sidebar>